@model BarterBot2.Models.UserData

@{
    ViewBag.Title = "LoggedIn";
}




    @{ 
        BarterBot2.Models.BarterBot2DbContext  db3 = new BarterBot2.Models.BarterBot2DbContext();
        BarterBot2.Models.User u = db3.users.Single(s => s.UserID == Model.ID);
        BarterBot2.Models.Rank r = db3.ranks.Single(s => s.UserID == u.UserID);
    }

    <div class="container-fluid" style="border:2px black solid;height:100px; background-color:#9b8f8f; text-align:center; color:white;margin-top:20px;"><h1  >@u.Username</h1>
 <div class="row">
   <div class="col-sm-5" style="text-align:left;margin-left:10px;position:relative;bottom:5px;" >
      <h4>User Profile</h4>
     </div>
     <div class="col-sm-7" style="text-align:left;margin-right:-10px;position:relative;bottom:5px;" ><h4>RANK:       @r.Status</h4></div>
       </div></div>

   
    <div class="container-fluid"  >
        <div class="row">
            <div class="col-md-6" style="background-color: white; text-align:center; color:black;">
                <h1>Services</h1>
                <h3>Skills you're offering</h3>
                <p style="border-top:2px black solid" >
                    
                        @if (Model.services.Count == 0)
                        {
                            <h5 style="color:red" >you have no any services to offer</h5>
                        }
                        else
                        {
                            <table class="table table-responsive" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (var item in Model.services)
                                        {
                                            if (item.Type == "Money-Based")
                                            {
                                                BarterBot2.Models.BarterBot2DbContext df = new BarterBot2.Models.BarterBot2DbContext();
                                                BarterBot2.Models.MoneyBasedService mb = df.MoneyBasedServices.Single(s => s.ServiceID == item.ServiceID);

                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.Type<span style="color:black;" >@mb.WorkPrice - @mb.Currency</span></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                BarterBot2.Models.BarterBot2DbContext df = new BarterBot2.Models.BarterBot2DbContext();
                                                BarterBot2.Models.TimeBasedService mb = df.TimeBasedServices.Single(s => s.ServiceID == item.ServiceID);
                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.Type<span style="color:black;">@mb.WorkTime </span></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        
                    
                        
                </p>
                <br>
                <br>
                <hr>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-10">
                        <button style="width:100px" class="btn btn-block" onclick="window.location.href='@Url.Action("Create", "Services")';" >Add Service</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color: white; text-align:center; color:black;">
                <h1>Interest</h1>
                <h3>Skills you're interested to get</h3>
                <p style="border-top:2px black solid" >
                    <ul style="list-style:none" >
                        @if (Model.interests.Count == 0)
                        {
                            <h5 style="color:red" >you have no any interests yet...</h5>
                        }
                        else
                        {
                            foreach (var item in Model.interests)
                            {
                                <li style="color:#6475ba" >@item.Title </li>
                                
                            }
                        }

                        
                    </ul>
                </p>
                <br>
                
                <hr>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-10">
                        <button style="width:100px"  class="btn btn-block" onclick="window.location.href='@Url.Action("Create", "Interests")';">Add Interest</button>
                    </div>
                </div>
            </div>
 
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="well well-sm" style="max-height:200px;overflow:scroll"  >
                        <h2> Your Sent Requets</h2>

                        @{
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Service</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody  >
                                    @foreach (var item in Model.sentRequests)
                                    {
                                        BarterBot2.Models.BarterBot2DbContext db = new BarterBot2.Models.BarterBot2DbContext();
                                        BarterBot2.Models.User USER = new BarterBot2.Models.User();
                                        BarterBot2.Models.Service Pservice = new BarterBot2.Models.Service();

                                        foreach (BarterBot2.Models.User user in db.users)
                                        {
                                            if (user.UserID == item.ProviderUserID)
                                            {
                                                USER = user;
                                            }
                                        }

                                        foreach (BarterBot2.Models.Service s in db.Services)
                                        {
                                            if (s.ServiceID == item.ProviderServiceID)
                                            {
                                                Pservice = s;
                                            }
                                        }



                                        <tr>
                                            <td>
                                                @USER.FirstName
                                            </td>
                                            <td>
                                                @USER.Email
                                            </td>
                                            <td>
                                                @Pservice.Title
                                            </td>
                                            @if (item.Status == "sent")
                                            {
                                                <td>
                                                    @item.Status
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @item.Status
                                                </td>
                                                <td>
                                                    <button onclick="window.location.href='@Url.Action("Delete", "Requests", new { Rid = item.RequestID })';">OK</button>
                                                </td>
                                            }


                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                            <br>
                          
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                       
                            <div class="well well-sm" style="max-height:200px;overflow:scroll" >
                                <h2> Services you can get from others</h2>

                                @{
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Service</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.offeredServices)
                                            {
                                                BarterBot2.Models.BarterBot2DbContext db = new BarterBot2.Models.BarterBot2DbContext();
                                                BarterBot2.Models.User USER = new BarterBot2.Models.User();

                                                foreach (BarterBot2.Models.User user in db.users)
                                                {
                                                    if (user.UserID == item.UserID)
                                                    {
                                                        USER = user;
                                                    }
                                                }

                                                <tr>
                                                    <td>
                                                        @USER.FirstName
                                                    </td>
                                                    <td>
                                                        @USER.Email
                                                    </td>
                                                    <td>
                                                        @item.Title
                                                    </td>
                                                    <td>
                                                        @item.Type
                                                    </td>
                                                    <td>
                                                        <button onclick="window.location.href='@Url.Action("Create", "Requests",new { PSid = item.ServiceID,Pid = USER.UserID,Sid = Convert.ToInt32(Session["UserId"]) })';">Sent Request</button>
                                                    </td>
                                                    <td>
                                                        <button onclick="window.location.href='@Url.Action("Conversation", "Messages",new { Rid=item.UserID })';" > Message </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                            </div>
                      
                    </div>
                </div>
        
        <div class="row">

            <div class="col-md-8" >
                <div class="container">
                    <div class="well well-sm">
                        <h2>Incoming Request </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Service</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.comingRequests)
                                {
                                    BarterBot2.Models.BarterBot2DbContext db = new BarterBot2.Models.BarterBot2DbContext();
                                    BarterBot2.Models.User USER = new BarterBot2.Models.User();
                                    BarterBot2.Models.Service Pservice = new BarterBot2.Models.Service();

                                    foreach (BarterBot2.Models.User user in db.users)
                                    {
                                        if (user.UserID == item.SeekerUserID)
                                        {
                                            USER = user;
                                        }
                                    }

                                    foreach (BarterBot2.Models.Service s in db.Services)
                                    {
                                        if (s.ServiceID == item.ProviderServiceID)
                                        {
                                            Pservice = s;
                                        }
                                    }



                                    <tr>
                                        <td>
                                            @USER.FirstName
                                        </td>
                                        <td>
                                            @USER.Email
                                        </td>
                                        <td>
                                            @Pservice.Title
                                        </td>
                                        <td>
                                            @Pservice.Type
                                        </td>
                                        <td>
                                            <button onclick="window.location.href='@Url.Action("Reject", "Requests", new { Rid = item.RequestID})';">Reject</button> |
                                            <button  onclick="window.location.href='@Url.Action("Accept", "Requests", new { Rid = item.RequestID})';">Accept</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    
                </div>


            </div>
            <div class="col-md-4">
                <div class="container-fluid">
                    <div class="well well-sm" style="width:300px;height:400px;max-height:400px; overflow:scroll;">
                        <h2>Messages</h2>
                        <div>
                            @{ 

                                BarterBot2.Models.BarterBot2DbContext db2 = new BarterBot2.Models.BarterBot2DbContext();
                                BarterBot2.Models.User USER1 = new BarterBot2.Models.User();

                                foreach (BarterBot2.Models.Message m in Model.messages)
                                {
                                    if(m.SenderID == Model.ID)
                                    {
                                        
                                        <div style="width:150px;border-color:#808080;float:right" >
                                            
                                            <h6 style="float:right" >@m.Text </h6>
                                        </div>
                                    }
                                    else
                                    {
                                        USER1 = db2.users.Single(s => s.UserID == m.SenderID);

                                        <div style="width:150px;border-color:#ffffff;float:left">
                                            <h6>@USER1.FirstName: @m.Text </h6>

                                        </div>
                                    }
                                }
                            }
                        </div>
                     


                    </div>
                </div>
            </div>
        </div>

            </div>
