
@if(Session["LoginFlag"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + @Session["Email"].ToString() + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Index" })
            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    </ul>
}


